<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title> Zézinho's Shop </title>
  <link rel="stylesheet" type="text/css" href="/style/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="/style/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/style/style.css">
</head>
<body>

  <nav class="navbar navbar-inverse navbar-static-top">
			<div class="container-fluid">
	    		<div class="navbar-header">
	      			<a class="navbar-brand" href="/">
	        			Zézinho's Shop
	      			</a>
	    		</div>
	    		<ul class="nav navbar-nav navbar-left">
        			<li><a href="/">Inicial</a></li>
    			</ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-shopping-cart glyphicon-inverse" aria-hidden="true"></a></span></li>
          </ul>
	  		</div>
		</nav>

    {{{body}}}

</body>
</html>
