<form action="/produtos" method="post">
	<label for="nome">Nome</label>
	<input name="nome" type="text"><br />
	<label for="preco">Preço</label>
	<input name="preco" type="text"><br />
	<label for="descricao">Descrição</label>
	<input name="descricao" type="file" accept=".txt"><br />
	<label for="imagem">Imagem</label>
	<input name="imagem" type="file" accept="image/*"><br />
	<input type="submit" value="Adicionar" />
</form>
